
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: block;
  margin: 0;
  padding: 0;
  background-color: #fff;
  width: 100vw;
}
h1,h3{
  font-family: 'Kanit';
  font-weight: 500;
  text-align: center;
}
.app{
  display: flex;
}
.main-text{
  margin-top: 40px;
  font-size: 55px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: black;
}
.nav-container{
  height: 100vh;
  width: 150px;
  background-color: #0186dc;
  position:absolute;
  left: 0;
  box-shadow: 6px 6px 31px -7px rgba(0,0,0,0.45);
  -webkit-box-shadow: 6px 6px 31px -7px rgba(0,0,0,0.45);
  -moz-box-shadow: 6px 6px 31px -7px rgba(0,0,0,0.45);
}
.nav-container ul{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content:space-between;
  padding-left: 30px;
  height: 100vh;
}
.nav-on{
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.login-out{
  padding-bottom: 20px;
}
.nav-container li{
  font-family: 'Kanit';
  font-size: 25px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  color: white;
  font-weight: 400;
}
.nav-container li:hover{
  transform: scale(1.1);
}
.nav-container a{
  color: white;
}
.line-main{
  background-color: black;
  height: 2px;
  width: 85%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.earnpay-home{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}
.earn-home,.pay-home{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 400px;
  border-radius: 15px;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  box-shadow: 6px 6px 31px 4px rgba(0,0,0,0.45);
  -webkit-box-shadow: 6px 6px 31px 4px rgba(0,0,0,0.45);
  -moz-box-shadow: 6px 6px 31px 4px rgba(0,0,0,0.45);
}
.earn-home:hover,.pay-home:hover{
  transform: scale(1.1);
}
.pay-home{
  background-color: red;
  color: white;
}
.earn-home{
  background-color: #199b02;
  color: white;
}
.earn-home h1,h2,.pay-home h1,h2{
  font-family: 'Kanit';
  font-weight: 400;
}
.form-container{
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Kanit';
  margin-top: 50px;
}
form p{
  font-size: 20px;
  color: black;
}
form input{
  width: 500px;
  height: 50px;
  font-family: 'Kanit';
  font-size: 20px;
}
form button{
  width: 500px;
}
form select{
  width: 500px;
  height: 50px;
  font-family: 'Kanit';
  font-size: 20px;
}
.form-text{
  color: black;
}
.earn-container{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 100vw;
}
.earn-topic{
  display: flex;
  list-style: none;
  background-color:black;
  width: 50%;
  height: 70px;
  color: white;
}
.earn-list{
  display: flex;
  list-style: none;
  background-color:white;
  width: 50%;
  height: 70px;
}
.earn-topic li ,.earn-list li{
  font-family: 'Kanit';
  font-size: 30px;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
}
.earn-list li{
  color: black;
}
.earn-header{
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.earn-header select{
  width: 300px;
  height: 40px;
  font-family:Kanit;
  font-size: 20px;
  background-color: white;
  color: black;
}
.earn-header-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.pay-main{
  color: black;
}
.regis-container{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.regis-main{
  margin-top: 120px;
}
.latest-main{
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  color: white;
}
.latest-container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.latest-container ul{
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.latest-list{
  width: 270px;
  font-family: 'Kanit';
  background-color: white;
  color: black;
  padding: 15px;
  margin-top: 15px;
  border: 0px solid transparent;
  border-radius: 15px;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  box-shadow: 6px 6px 31px 4px rgba(0,0,0,0.45);
  -webkit-box-shadow: 6px 6px 31px 4px rgba(0,0,0,0.45);
  -moz-box-shadow: 6px 6px 31px 4px rgba(0,0,0,0.45);
}
.latest-list:hover{
  transform: scale(1.1);
}
.latest-main{
  background-color:blueviolet;
  width: fit-content;
  padding: 5px 20px 5px 20px;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid transparent;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 15px;
  box-shadow: 6px 6px 31px -7px rgba(0,0,0,0.45);
  -webkit-box-shadow: 6px 6px 31px -7px rgba(0,0,0,0.45);
  -moz-box-shadow: 6px 6px 31px -7px rgba(0,0,0,0.45);
}
.regis-main{
  color: black;
}
.regis-container h5{
  text-align: center;
  font-weight: 400;
  color: black;
}
.regis-container a h5 {
  color: black;
}
i{
  cursor: pointer;
}
.load{
  text-align: center;
  padding-top: 350px;
  color: black;
}
.fa-trash{
  color: red;
}
.edit{
  display: flex;
  gap: 25px;
}
.earn-list a {
  color: black;
}
.shining-text {
  background: linear-gradient(
    to right,
    #ffffff 20%,
    gray 40%,
    gray 60%,
    #ffffff 80%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
}
.chart-round{
  width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.chart-bar{
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chart-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.chartAll{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  box-shadow: 6px 6px 31px -7px rgba(0,0,0,0.45);
  -webkit-box-shadow: 6px 6px 31px -7px rgba(0,0,0,0.45);
  -moz-box-shadow: 6px 6px 31px -7px rgba(0,0,0,0.45);
  margin-top: 20px;
  width: fit-content;
  padding-left: 70px;
  padding-right: 70px;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  padding-bottom: 20px;
}
.graphdes{
  font-family: 'Kanit';
  background-color:#ffc101;
  width: max-content;
  color: white;
  padding: 10px;
  border: 0px solid transparent;
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  box-shadow: 6px 6px 31px -7px rgba(0,0,0,0.45);
  -webkit-box-shadow: 6px 6px 31px -7px rgba(0,0,0,0.45);
  -moz-box-shadow: 6px 6px 31px -7px rgba(0,0,0,0.45);
}
.fa-left-long,.fa-right-long{
  color:black;
  opacity: 0.5;
}
.fa-left-long:hover,.fa-right-long:hover{
  opacity: 1;
}
form input{
  background-color: white;
  border: 0px solid transparent;
  border-radius: 5px;
  color: black;
  border: 2px solid black;
}
form select{
  background-color: white;
  border: 0px solid transparent;
  border-radius: 5px;
  color: black;
  border: 2px solid black;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(80%) sepia(100%) saturate(1000%) hue-rotate(200deg);
  cursor:pointer;
}
.logo{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 10px;
}
.logo img{
  width: 40px;
}
.fa-right-from-bracket{
  padding-left: 20px;
}

@keyframes shine {
  0% {
    background-position: -100% center;
  }
  100% {
    background-position: 100% center;
  }
}