
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: block;
  margin: 0;
  padding: 0;
}
h1,h3{
  font-family: 'Kanit';
  font-weight: 500;
  text-align: center;
}
.main-text{
  margin-top: 60px;
  font-size: 55px;
}
.nav-container{
  width: 100vw;
  background-color:#4e4e4e;
}
.nav-container ul{
  display: flex;
  list-style: none;
  gap: 150px;
  align-items: center;
  height: 70px;
  justify-content: center;
}
.nav-container li{
  font-family: 'Kanit';
  font-size: 25px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}
.nav-container li:hover{
  transform: scale(1.1);
}
.nav-container a{
  color: white;
}
.line-main{
  background-color: white;
  height: 2px;
  width: 43.5%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
.chartAll{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.graphdes{
  font-family: 'Kanit';
  margin-top: -180px;
  text-align: center;
}
.earnpay-home{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}
.earn-home,.pay-home{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 400px;
  border: 2px solid white;
  border-radius: 15px;
}
.pay-home{
  background-color: red;
  color: white;
}
.earn-home{
  background-color: green;
  color: white;
}
.earn-home h1,h2,.pay-home h1,h2{
  font-family: 'Kanit';
  font-weight: 400;
}
.form-container{
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Kanit';
  margin-top: 50px;
}
form p{
  font-size: 20px;
}
form input{
  width: 500px;
  height: 50px;
  font-family: 'Kanit';
  font-size: 20px;
}
form button{
  width: 500px;
}
form select{
  width: 500px;
  height: 50px;
  font-family: 'Kanit';
  font-size: 20px;
}
.earn-container{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.earn-topic{
  display: flex;
  list-style: none;
  background-color:black;
  width: 50%;
  height: 70px;
}
.earn-list{
  display: flex;
  list-style: none;
  background-color:white;
  width: 50%;
  height: 70px;
}
.earn-topic li ,.earn-list li{
  font-family: 'Kanit';
  font-size: 30px;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
}
.earn-list li{
  color: black;
}
.earn-header{
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.earn-header select{
  width: 300px;
  height: 40px;
  font-family:Kanit;
  font-size: 20px;
  margin-top: 5px;
}
.regis-container{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.regis-main{
  margin-top: 120px;
}
.latest-main{
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}
.latest-container{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.latest-container ul{
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.latest-list{
  width: 270px;
  font-family: 'Kanit';
  background-color: white;
  color: black;
  padding: 15px;
  margin-top: 15px;
  border: 0px solid transparent;
  border-radius: 15px;
}
.regis-container h5{
  text-align: center;
  font-weight: 400;
}
.regis-container a h5 {
  color: white;
}
i{
  cursor: pointer;
}